@media screen and (max-width: 1800px) {
  .advantages__single {
    background-size: 54%;
  }
  .our-solution .block-mask .img-mask {
    width: 44%;
  }
  .solution-card {
    width: 61%;
  }
}

@media screen and (max-width: 1700px) {
  .mini-circle {
    width: 72px;
    height: 72px;
    img {
      height: 38px;
    }
  }
  .process-block {
    height: 550px;
  }
  .process-circle {
    height: 450px;
    width: 450px;
  }
  .hero__container {
    padding-top: 240px;
  }
  .hero-sub {
    padding-bottom: 45px;
    padding-top: 145px;
  }
  .text-side .left {
    max-width: 510px;
  }

}
@media screen and (max-width: 1600px) {
  .process__container {
    padding-right: 218px;
  }
}
@media screen and (max-width: 1520px) {
  .contact-us__container .right {
    width: 620px;
    margin-left: 7.5%;
  }
  .contact-use__text .footer-contacts {
    column-gap: 20px;
    & > * {
      width: calc(50% - 10px);
    }
  }
  .solution-card .non-visible {
    padding: 25px 40px 20px 40px;
  }
  .solution-card {
    padding: 40px 57px 40px 3.9%;
  }
  .faq-single>p {
    font-size: 16px;
  }
  .faq {
    padding: 120px 0 120px;
  }
  .faq-single{
    &:nth-child(3) {
      margin-top: 75px;
    }
  }
  .header__container .logo {
    margin-right: 5%;
  }
  .header-menu>ul>li {
    margin-right: 8%;
  }
  .header-search {
    margin-right: 4%;
  }
  .header-contrast {
    margin-right: 4%;
  }
  .header-menu>ul>li.menu-item-has-children>ul {
    li {
      margin-right: 90px;
    }
  }
}
@media screen and (min-width: 1401px) {
  .contact-use__text {
    //margin-top: -16px;
  }
}
@media screen and (max-width: 1400px) {
  .mini-circle img {
    height: 32px;
  }
  .single-stage .text {
    font-size: 16px;
    padding: 5px 15px;
  }
  .process-block {
    height: 462px;
  }
  .process-circle {
    width: 370px;
    height: 370px;
  }

  .contact-us__container .left {
    align-items: flex-start;
  }
  .solution-card {
    //height: 50%;
    .non-visible {
      padding: 25px 40px 20px 60px;
    }
  }
  .solution-card .visible p {
    font-size: 24px;
  }
  .solution-card .non-visible span {
    font-size: 24px;
  }
  .our-solution {
    //height: 600px;
  }
  .footer-menu>ul>li {
    margin-right: 7.5%;
  }
  .logo-footer {

  }
  .advantages__single .img-mask {
    width: 43%;
  }
  .advantages__content {
    padding: 100px 0 60px;
    padding-left: 10.4%;
  }
  .advantages__container .btn-slides {
    left: 46.6%;
  }
  .advantages__single {
    background-size: 64%;
  }
  .advantages__content {
    width: 64%;
  }
  .products__link {
    padding: 30px 30px 120px 40px;

  }
  .text-side .left {
    margin-right: 65px;
  }
  .hero-sub {
    padding-top: 80px;
  }

}

@media screen and (max-width: 1350px) {
  .hero-sub {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .text-about .text p {
    font-size: 28px;
  }
}
@media screen and (min-height: 760px) and (max-width: 1400px) and (min-width: 1026px) {
  .hero-sub {
    padding-top: 48px;
  }
  .hero.hero--home .hero-bg {
    mask-position: right top;
  }
  .text-about {
    padding-bottom: 77px;
  }
  .hero__container {
    min-height: 64vh;
  }
}

@media screen and (min-height: 760px) and (max-width: 1100px) and (min-width: 1026px) {
  .hero__container {
    min-height: 54vh;
  }
}
@media screen  and (max-width: 1025px) and (min-height: 760px) and (min-width: 750px) {
  .hero__container {
    min-height: 96vh;
  }
  .text-about {
    padding-bottom: 100px;
  }
}
@media screen and (orientation: portrait) and  (min-height: 1100px) and (max-width: 1400px) {
  .hero__container {
    min-height: 54vh;
  }
}
@media screen and (max-width: 1300px) {
  .contact-us__container .right {
    width: 570px;
    margin-left: 4%;
  }
  .contact-us {
    margin: 96px 0;
  }
  .form-block {
    padding: 25px 30px 37px 18px;
  }


  .our-clients {
    padding: 100px 0 120px;
  }
  .our-clients__container .btn-slides {
    margin-top: 31px;
  }
  .our-clients__single .right span {
    margin-bottom: 25px;
  }
  .our-clients__single .right p:not(.dots-title) {
    font-size: 20px;
  }
  .our-clients__single .left::after {
    width: 55px;
    height: 55px;
    background: url('../img/skob.svg') no-repeat center/15px,#08f8ff;
  }
  .our-clients__single .right {
    padding-left: 5%;
  }
  .faq-right {
    margin-top: 40px;
  }
  .faq {
    padding: 120px 0 160px;
  }
  .faq-single {
    &:nth-child(2) {
      margin-top: 0;
      margin-right: 0;
    }
    &:nth-child(3) {
      margin-top: 20px;
    }
    &:nth-child(4) {
      margin-top: 0px;
      margin-right: 0;
    }
    &:nth-child(5) {
      margin-top: 10px;
      margin-right: 0;
    }
  }
  .products__link {
    padding: 30px 30px 130px 40px;

  }
  .products__head p {
    font-size: 20px;
  }
  .products__head span {
    font-size: 30px;
  }
  .products__container {
    margin-top: 100px;
  }
  .products__head {
    margin-bottom: 60px;
  }
  .hero-sub {
    padding-top: 10px;
  }
  .text-side .left {
    margin-right: 30px;
  }
  .hero__container {
    padding-top: 180px;
    padding-bottom: 170px;
  }
  .btn {
    font-size: 18px;
    line-height: 140%;
  }
  .search-header__block input {
    padding: 9px 0;
    font-size: 15px;
    line-height: 116.7%;
    letter-spacing: 0.03em;
    margin-right: 15px;
    &::placeholder {
      font-size: 15px;
      line-height: 116.7%;
      letter-spacing: 0.03em;
    }
  }
  .search-header {
    padding: 16px 0;
    .container {
      padding: 0 15px;
    }
  }

  .search-header__block {
    padding-right: 57.4px;
    box-sizing: border-box;
    .btn {
      width: 95px;
      height: 43px;
      padding: 4px;
    }

  }
  .close-search {
    right: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .process-block {
    height:415px;
  }
  .our-solution .scrl-blk {
    position: static;
  }
  .contacts-map__container {
    padding-top: 40%;
  }
  .contact-us__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    .left {
      width: 100%;
      padding-left: 0;
    }
    .right {
      width: calc(100% + 38px);
      margin-left: -19px;
      margin-right: -19px;
      margin-bottom: 100px;
    }
  }
  .our-solution .block-mask .img-mask {
    width: 100%;
    mask-image: none;
    background:linear-gradient(0deg, #1B2FF9 9.73%, #2F8FFF 85.66%);;
  }
  .solution-card {
    width: 100%;
    height: calc(100% / 3);
  }
  .text-sol {
    margin-top: 0;
    padding: 120px 0 120px;
    max-width: none;
  }
  .our-solution {
    flex-direction: column;
    height: auto;
    .block-mask {
      position: relative;
      pointer-events: auto;
      width: 100%;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
    }
  }
  .block-slides {
    height: 614px;
    border: none;
    border-bottom: 1px solid #2f8fff;
  }
  .footer-menu>ul>li>ul {
    margin-right: 0;
  }
  .footer-menu>ul>li {
    margin-right: 4.5%;
  }
  .logo-footer {
    margin-right: 44px;
  }
  .products__content {
    column-gap: 60px;
  }
  .products__card .img {
    margin-right: 21px;
  }
  .products__link {
    width: calc((100% / 3) - (120px / 3));
    padding: 46px 23px 74px 18px !important;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;

  }
  .header__container .logo {
    width: 142px;
    height: 56.4px;
  }
  .header__container .logo {
    margin-right: 3.6%;
  }
  .header-menu>ul>li {
    margin-right: 6%;

  }
  .header-menu>ul>li {
    margin-bottom: 11px;
  }
  .header-search, .header-contrast {
    margin-right: 2%;
  }
  .header__container .btn {
    width: 210px;
  }
  .header-search__icon {
    margin-bottom: 6px;
  }
  .header__contr {
    margin-bottom: 6px;
  }
  .header {
    padding-top: 0;
  }
  .header__container {
    padding: 15px 0 10.6px;
  }
  .header-menu>ul>li.menu-item-has-children>ul {
    transform: translate(-50%, -10.6px);
  }
}
@media screen and (max-width: 1199px) {
  .process {
    height: 250vh;
    padding-top: 100px;
  }
  .process__container {
    padding-right: 120px;
  }
  .mini-circle {
    height: 65px;
    width: 65px;
    img {
      height: 35px;
    }
  }
  .single-stage {
    &:nth-child(1) {
      .text {
        bottom: 111%;
      }
    }
    &:nth-child(2) {
      .text {
        top: 21%;
        left: 97%;
      }
    }
    &:nth-child(3) {
      .text {
        top: 104%;
        left: 81%;
      }
    }
    &:nth-child(4) {
      .text {
        top: 104%;
        right: 81%;
      }
      .line {
        right: 26%;
        bottom: -1.4%;

      }
    }
    &:nth-child(5) {
      .text {
        top: 21%;
        right: 97%;
        br {
          display: none;
        }
      }
    }
  }
  .faq-circle {
    width: 415px;
    padding-top: 415px;
  }
  .faq__content {

  }
  .faq-mobile {
    display: flex;
    width: calc(100% + 38px);
    margin-left: -19px;
    margin-right: -19px;
    margin-top: -7px;
    padding: 0 19px;
    box-sizing: border-box;
    padding-bottom: 47px;
    padding-top: 67px;
    position: relative;

    .btn-slides {
      position: absolute;
      background: url("../img/arrow-blue-sld.svg") no-repeat center / 100%;
      bottom: 0;
      left: 50%;
      &--prev {
        margin-left: -60px;
      }
      &--next {
        margin-left: 13px;
      }
    }
    .swiper-wrapper {
      display: flex;
      align-items: stretch;
    }
  }
  .faq-mobile__single {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .faq-mobile__head {
    width: 100%;
    background: #2F8FFF;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    height: 158px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    &::after {
      background: #000000;
      opacity: 0.1;
      filter: blur(50px);
      position: absolute;
      top: 4px;
      right: 9px;
      bottom: 9px;
      left: 13px;
      display: inline-block;
      content: '';
      z-index: -1;
    }
    &::before {
      position: absolute;
      left: 50%;
      top: 100%;
      width: 40px;
      height: 40px;
      display: inline-block;
      content: '';
      border-radius: 50%;
      border: 1.5px solid #2F8FFF;
      box-sizing: border-box;
      transform: translate(-50%, -50%) rotate(90deg);
      z-index: 2;
      background: url("../img/arr-faq-q-1.svg") no-repeat center / 8px, #fff;
    }
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 149%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      width: 100%;

    }
  }

  .faq-mobile__cont {
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    margin-top: -20px;
    position: relative;
    height: 358px;
    padding: 37px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 149%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #001B50;
    }
    &::before {
      background: #000000;
      opacity: 0.1;
      filter: blur(50px);
      top: 21px;
      right: 10px;
      bottom: 19px;
      left: 13px;
      display: inline-block;
      content: '';
      position: absolute;
      z-index: -1;
    }
  }
  .faq-container {
    position: relative;
    height: auto;
    padding-top: 0;
  }
  .faq__content {
    position: relative;
    padding-top: 3px;
    h3 {
      margin-left: 1px;
      max-width: 90%;
      margin-top: 25px;
      line-height: 113.5%;
    }
  }
  .faq-left {
    > span {
      margin-left: 2px;
      max-width: 260px;
    }
  }
  .faq {
    overflow: hidden;
    padding: 100px 0 81px;
  }
  .faq-circle::after {
    width: 22px;
    height: 22px;
  }
  .faq-circle__third::after {
    width: 20px;
    height: 20px;
  }
  .faq-left>span {
    margin-bottom: 0;
  }
  .faq-right {
    display: none;
  }
  .faq-answers {
    display: none;
  }
  .faq-circle__container {
    position: absolute;
    left: 10px;
    top: 25px;
    width: 100%;
    height: 100%;
    transform: translate(calc(50% + 20px), 0);
  }
  .faq-circle__container .img img {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .form-block::before {
    content: none;
  }
  .hero.hero--home .hero-bg {
    mask-position: right top;
  }
  .about-project__container {
    margin-bottom: 100px;
  }
  .about-project__pic {
    .left {

    }
    .right {
      width: 60%;
      margin-left: 30px;
    }
  }
  .about-us__text h2 {
    font-size: 28px;
    line-height: 150%;
  }
  .about-us__text {
    margin-top: -65px;
  }
  .quest-content p {
    margin-bottom: 15px;
  }
  .footer-menu>ul>li {
    margin-right: 2.5%;
  }
  .question {
    padding: 100px 0;
  }
  .question__container {
    padding: 96px 18px 109px 20px;
  }
  .products__content {
    padding: 0;
  }
  .products__content {
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 60px;
    justify-content: center;
  }
  .products__link {
    width: calc((100% / 2) - (60px / 2));
    &::before {
      opacity: 0.2;
    }
    &::after {
      opacity: 1;
      left: 98px;
    }
  }
  .hero__container {
    justify-content: center;
  }
  .hero.hero--home .hero-bg {
    mask-size: 118%;
  }
  .text-about .text p {
    font-size: 22px;
    line-height: 134.5%;
  }
  .text-side {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    .right {
      width: 65.57%;
      margin-left: auto;
    }
    .left {
      width: 100%;
      max-width: none;
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 1023px) {
  .hero.hero--about {
    height: 390px;
  }
  .hero__default {
    padding-top: 140px;
  }
  .process-block {
    height: 465px;
    width: 100%;
    justify-content: center;
  }
  .mini-circle {
    width: 89px;
    height: 89px;
    img {
      height: 49px;
    }
  }
  .process-circle {
    width: 465px;
    height: 465px;
  }
  .process__container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 0;
    width: 100%;
    .left {
      margin-bottom: 130px;
      width: 100%;
      max-width: none;
    }
  }
  .form-title {
    font-size: 30px;
  }
  .about-project__pic {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .left {
      width: 100%;
      margin-bottom: 60px;
    }
    .right {
      width: 100%;
      margin-left: 0;
      span, p {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .our-team__head span {
    max-width: 90%;
    line-height: 106.5%;
  }
  .our-team {
    padding-top: 90px;
  }
  .our-team__head {
    margin-bottom: 45px;
  }
  .our-team__content {
    column-gap: 15px;
    row-gap: 29px;
  }
  .single-team {
    width: calc((100% / 3) - (30px / 3));
  }
  .single-team .text {
    margin-top: 15px;
  }
  .our-team~.question {
    padding-top: 98px;
  }
  .single-team .text span {
    font-size: 16px;
    display: inline-block;
    width: 101%;
  }
  .solution-card {
    height: 50%;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .logo-footer {
    margin-right: 0;
    margin-bottom: 43px;
  }
  .footer-top {
    padding: 52px 0 66px;

  }
  .footer-menu>ul {
    justify-content: space-between;
  }
  .footer-menu {
    width: 100%;
  }
  .advantages__content {
    padding-top: 108px;
    padding-bottom: 70px;
  }
  .advantages__single {
    background-size: 100%;
  }
  .advantages__container .btn-slides {
    top: 40px;
  }
  .products__link {
    width: 100%;
  }
  .hero.hero--home .hero-bg {
    mask-size: 220%;
    mask-position: -560px -70px;
  }
  .hero-title {
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 30px;
  }
  .hero__text>p {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .header {

    .header-contrast {
      display: none;
      margin-right:6px;
    }
    .header-search {
      display: flex;
    }
    &.opened {
      background: #fff;
      .header__contr {
        svg {
          path {
            fill: #2F8FFF;
          }
        }
      }
      .header__container {
        .logo {
          a {
            img {
              opacity: 0;
              &.sec {
                opacity: 1;
              }
            }
          }
        }
      }
      .header-contrast {
        display: flex;
      }
      .header-search {
        display: none;
      }
      .mobile-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 0.4s ease, visibility 0.4s ease;
      }
    }
  }
  .header__container {
    align-items: center;
    > .btn {
      display: none;
    }
  }
  .header-menu {
    display: none;
  }
  .burger-header {
    display: flex;
  }
  .header-search__icon {
    margin-bottom: 0;
  }
  .header__contr {
    margin-bottom: 0;
  }
  .header-search {
    margin-right: 0;
    margin-left: auto;
  }
  .header-contrast {
    margin-right: 0;
    margin-left: auto;
  }

  .mobile-menu {
    z-index: -2;
    &::after {
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      height: 81px;
      background: #fff;
      display: inline-block;
      position: fixed;
      content: '';
    }
    &::before {
      background: #2F8FFF;
      opacity: 0.3;
      filter: blur(20px);
      top: 17px;
      left: 7px;
      right: 11px;
      height: 61px;
      display: inline-block;
      content: '';
      position: fixed;
      z-index: -1;


    }
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;

    position: fixed;
    background: #fff;
    top: 81px;
    left: 0;
    right: 0;
    padding: 45px 0 77px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 81px);
    overflow-y: auto;
    .btn {
      margin-top: 65px;
    }
    > ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      > li {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        &.menu-item-has-children {
         >  ul {
           max-height: 0;
           overflow: hidden;
           transition: max-height 0.5s ease, opacity 0.4s ease;
           width: calc(100% + 30px);
           margin-left: -15px;
           margin-right: -15px;
           background: rgba(79, 160, 254, 0.05);
           border-bottom: 1px solid rgba(47, 143, 255, 0.3);
           opacity: 0;
           li {
              width: 100%;
              a {
                width: 100%;
                padding: 29px 24px 16px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0.1em;
                color: #2F8FFF;
                text-decoration: none;
                &:last-child {
                  padding-bottom: 43px;
                }
                strong {
                  font-weight: 700;
                  margin-left: 4px;
                }
                img {
                  width: auto;
                  height: 40px;
                  margin-right: 7.5px;
                }
              }
            }
          }


          > a {
            position: relative;
            &::after {
              position: absolute;
              right: 0;
              transform-origin: 50% 50%;
              top: 50%;
              transform: translate(0, -50%) rotate(-90deg);
              background: url("../img/arr-m.svg") no-repeat center / 100%;
              width: 13px;
              height: 6.5px;
              display: inline-block;
              content: '';
              transition: transform 0.3s ease;
            }


          }
          &.active {
            > a {
              &::after {
                transform: translate(0, -50%);
              }
            }
            > ul {
              max-height: 700px;
              opacity: 1;
            }
          }
        }
        > a {
          width: 100%;
          padding: 32px 4px;
          box-sizing: border-box;
          border-bottom: 1px solid rgba(47, 143, 255, 0.3);

          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 140%;
          letter-spacing: 0.1em;
          color: #2f8fff;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: flex-start;



        }
      }
    }

  }
  .about-us {
    margin-top: -79px;
    margin-bottom: 93px;
  }
}
@media screen and (max-width: 767px) {
  .modal-container  {
    max-width: none;
    min-width: 0;
    width: 100%;
    border-radius: 0;
    .close {
      top: 23px;
      right: 21px;
    }
    .form-block {
      padding: 37px 20px 26px;
    }
  }
  .proc-trig {
    .st {
      //background: red;
      opacity: 0 !important;
      border-bottom: 1px solid blue;
      height: calc(52% / 6);

    }
  }
  .process {
    padding-top: 89px;
  }
  .text-proc {
    text-align: center;
    br {
      display: inline-block !important;
    }
  }
  .process-circle {
    margin-left: -193px;
    transition: margin-left 0.4s ease;
    &.animeded {
      margin-left: 235px;
    }
  }
  .process__container {
    margin-bottom: 30px;
  }
  .process__container .left h2 {
    margin-top: 28px;
    margin-bottom: 23px;
  }
  .about-project {
    padding-top: 39px;
    padding-bottom: 90px;
  }
  .about-project__pic .left .img {
    width: calc(100% + 38px);
    margin-left: -19px;
    margin-right: -19px;
  }
  .about-project__pic .right p, .about-project__pic .right span {
    margin-bottom: 24px;
  }
  .about-project__container span {
    font-size: 28px;
    line-height: 144.5%;
  }
  .process {
    height: 260vh;
    .container {
      height: 100%;
      position: static;
    }
  }
  .process-block {
    flex-grow: 0;
    position: sticky;
    top: 170px;
  }
  .process__container {
    height: 100%;
  }
  .advantages__single .img-mask {
    &::after {
      background: url("../img/sol-prod-pg-mob.svg") no-repeat left top/ cover;
    }
  }
  .quest-bg::after {

    background: url('../img/quest-w-mob.svg') no-repeat right top/cover;
  }
  .quest-bg.dark::before {

    background: url('../img/quest-w-mob.svg') no-repeat right top/cover;
  }
  .quest-bg.dark::after {
    background: url('../img/quest-b-mob.svg') no-repeat right top/cover;
  }
  .advantages--prod .advantages__single .img-mask {
    &::after {
      background: url("../img/sol-prod-pg-mob.svg") no-repeat left top/ cover;
    }
  }
  .hero__text .btn {
    display: none;
  }
  .hero--home .hero__text .btn {
    display: flex;
  }
  .hero.hero--about.hero--prod {
    .hero__default {
      padding-top: 100px;
      .bread-nav {
        margin-bottom: 11px;
      }
    }
  }
  .bread-nav ul {
    flex-wrap: wrap;
    justify-content: center;
    li:nth-child(2) {
      padding-right: 0;
      &::after {
        content: none;
      }
    }
  }
  .block-non-found {
    margin: 29px 0 97px;
  }
  .block-404 {
    .img {
      margin-bottom: 10px;
    }
    span {
      margin-bottom: 16px;
    }
  }
  .search-result__head {
    margin-bottom: 75px;
  }
  .search-result {
    margin-bottom: 100px;
  }
  .search-result__single span {
    font-size: 30px;
    line-height: 125%;
  }
  .search-result__list {
    row-gap: 42px;
    margin-bottom: 46px;
  }
  .search-result__single p {
    margin-bottom: 12px;
  }
  .hero.hero--search {
    height: 203px;
    .hero-about-bg {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      img {
        object-fit: initial;
      }
    }
  }
  .search-result__search form p {
    margin-bottom: 14px;
  }
  .search-result__search .search-block {
    input {
      font-weight: 300;
      font-size: 28px;
      line-height: 134.5%;
      padding: 2px 0 8px;
      &::placeholder {
        font-weight: 300;
        font-size: 28px;
        line-height: 134.5%;
      }
    }
  }

  .search-result__search .search-block .btn {
    width: 102px;
    padding: 4px;
    box-sizing: border-box;
    height: 35px;
    font-size: 18px;
    line-height: 1;
    margin-left: 13px;
    flex-shrink: 1;
  }
  .search-result .container .breadcrumbs li a, .search-result .container .breadcrumbs li span {
    font-size: 20px;
  }
  .search-result__search .search-block input {
    width: 220px;
  }
  .search-result {
    margin-top: 49px;
  }
  .search-result .container .breadcrumbs li {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  .contact-us__container .right {
    margin-bottom: 104px;
  }
  .contact-us {
    margin-bottom: 100px;
  }
  .contacts-map__container {
    margin-top: 53px;
    width: calc(100% + 38px);
    margin-left: -19px;
    margin-right: -19px;
    padding-top:calc(100% + 41px);
  }
  .contact-use__text .footer-contacts {
    row-gap: 40px;
  }
  .contact-use__text .footer-contacts>* {
    width: 100%;
  }
  .form-block {
    padding: 20px 24px 37px 22px;
  }
  .form-radios>p {
    margin-bottom: 28px;
  }
  .form-block form textarea {
    margin-bottom: 35px;
  }
  .form-block form button {
    margin-top: 31px;
  }
  .form-radios {
    margin-bottom: 9px;
  }
  .form-radios label span {
    margin-bottom: 22px;
  }
  .form-radios>p {
    font-size: 18px;
    line-height: 116%;
  }
  .form-sub {
    max-width: none;
    margin-bottom: 35px;
  }
  .form-title {
    margin-bottom: 18px;
  }
  .contact-us {
    margin-top: 10px;
  }
  .text-sol {

    padding: 122px 0 ;
  }
  .our-solution .block-mask .big-container {
    align-items: flex-start;
  }
  .our-solution .block-mask {
    height: calc(100vh - 181px);
  }
  .our-solution .block-mask h2 {
    margin-top: 28px;
    margin-bottom: 13px;
  }
  .modals-solution-mobile {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 100;

    transition: opacity 0.4s ease, visibility 0.4s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: #d3feff;
    .visible {
      .img {
        flex-shrink: 0;
      }
    }
    .non-visible {
      position: relative;
      .close {
        display: flex;
        width: 27.4px;
        height: 27.4px;
        position: fixed;
        top: 30px;
        right: 20px;
        svg {
          width: 100%;
          ellipse {
            fill: rgba(255, 255, 255, 0) !important;
            &.sel {
              fill: #001B50 !important;
            }
          }
        }
      }

      width: 100%;
      height: auto;
      margin: auto;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background: #D3FEFF;
      padding: 120px 34px 94px;
      box-sizing: border-box;
      z-index: 2;
      display: none;

      transition: opacity 0.4s ease, visibility 0.4s ease;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      .img {
        width: 55px;
        height: auto;
        display: flex;
        max-height: 55px;
        margin-right: 0;
        margin-bottom: 0;
        flex-shrink: 0;
        position: absolute;
        top: 126px;
        left: 34px;
        img {
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 55px;
        }
      }
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 125%;
        color: #001B50;
        display: inline-block;
        padding-left: 66px;

      }
      p {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 145%;
        align-items: center;
        color: #001B50;
        margin-top: 16px;
      }
      &.open {
        display: flex;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
    &.open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  .our-solution {
    position: relative;

  }
  .our-solution .scroll-bl {
    bottom: 86px;
    left: 20px;
  }
  .solution-card .visible .img {
    flex-shrink: 0;
  }
  .our-solution .block-mask {
    z-index: 1;
  }
  .block-slides {
    height: auto;
    overflow-y: initial;
    position: relative;
    margin-top: -30px;
    &::before {
      background: url("../img/bg-sol-mob.png") no-repeat left top/ 100%;
      width: 100%;
      height: 80%;
      position: absolute;
      z-index: 1;
      display: inline-block;
      content: '';
      //bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
    .non-visible {
      padding: 120px 34px 94px;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow-y: auto;
      z-index: 200;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .close {
        display: flex;
      }
    }
  }
  .solution-card {
    height: auto;
    position: relative;
    padding: 88px 19px 90px;
    z-index: 2;
    .non-visible {
      display: none;
    }
  }
  .solution-card .visible::after {
    top: 48%;
    right: 2px;
  }
  .solution-card .visible p {
    margin-left: 23px;
  }
  .about-us__images {
    column-gap: 11px;
    .img {
      width: calc((100% / 2) - (11px / 2));
    }
  }
  .about-us__text {
    margin-top: 36px;
    padding-top: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    h2 {
      margin-bottom: 25px;
    }
    .left, .right {
      width: 100%;
    }
    .right {
      padding-top: 27px;
    }
  }
  .footer-top {
    align-items: flex-start;
    padding-left: 19px;
    box-sizing: border-box;
  }
  .logo-footer {
    margin-bottom: 43px;
  }
  .footer-contacts {
    margin-top: 20px;
  }
  .footer-menu>ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    > li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }
      &.menu-item-has-children {
        > a {
          width: 100%;
          display: flex;
          position: relative;
          &::after {
            width: 16px;
            height: 15.5px;
            position: absolute;
            right: 19px;
            top: 54%;
            transform: translate(0, -50%)  rotate(-90deg);
            display: inline-block;
            content: '';
            background: url('../img/arr-m.svg') no-repeat center/100%;
          }
        }
        ul, .footer-contacts {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.4s ease;
        }
        &.active {
          ul, .footer-contacts {
            max-height: 500px;
          }
          > a{
            &::after {
              transform: translate(0, -50%);
            }
          }
        }
      }
    }
  }
  .our-clients__slider {
    padding-top: 0;
    width: calc(100% + 38px);
    margin-left: -19px;
    margin-right: -19px;

    box-sizing: border-box;

  }
  .our-clients__container {

  }
  .our-clients {
    padding: 92px 0 100px;
  }

  .our-clients__single {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 19px;
    box-sizing: border-box;
    .right {
      width: 100%;
      padding-left: 0;
      margin-top: 0;
    }
    .left {
      width: 100%;
      padding-top: 64.17%;
      margin-top: 56px;
      .img {
        img {
          max-width: 181px;
        }
      }
    }
  }

  .products__container {
    margin-bottom: 98px;

  }
  .advantages__container .btn-slides {
    left: 45px;
    //top: 31px;
  }
  .advantages__single {
    background: linear-gradient(0deg, #1B2FF9 9.73%, #2F8FFF 85.66%);
    background-size: 100% 810px;
    background-repeat: no-repeat;
    padding-bottom: 457px;
    box-sizing: border-box;
    .img-mask {
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 488px;
      mask-image: url("../img/mask-adv-2-mob-mask.png");
      mask-position: left top;
      mask-size: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      img {
        width: 159%;
        height: 113%;
        -o-object-fit: cover;
        object-fit: cover;
        margin-top: -23px;
      }
    }
  }
  .our-clients__single .right {
    padding-left: 4px;
    span {
      line-height: 111.5%;
      margin-bottom: 17px;
    }

  }
  .our-clients__single {
    .left {
      margin-top: 52px;
      &::after {
        transform: translate(-74%, -25%);
      }
    }
  }
  .text-advan ul {
    margin-bottom: 43px;
    li {
      margin-bottom: 21px;
    }
  }
  .advantages__content {
    width: 100%;
    padding-left: 24px;
    padding-top: 113px;
  }
  .text-advan p:not(.dots-title) {
    margin-bottom: 27px;
  }
  .text-advan {
    h3 {
      margin-bottom: 18px;
    }
  }
  .products__head {
    margin-bottom: 50px;
  }
  .products__container {
    margin-top: 49px;
  }
  .products__head span {
    margin-bottom: 11px;
  }

}
@media screen and (max-width: 650px) {
  .about-project__pic .left .img img, .about-project__pic .left .img picture {
    filter: drop-shadow(0 2px 30px rgba(55, 114, 233, .13));
  }
  .process {
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
    .container {
      height: 100%;
      position: static;
    }
    & ~ .question {
      padding-top: 80px;
    }
  }
  .process-block {
    flex-grow: 0;
    position: static;
    top: 170px;
  }
  .single-team {
    width: calc((100% / 2) - (15px / 2));
  }
  .bread-nav ul li {
    padding-right: 23px;
    margin-right: 15px;
  }
  .hero.hero-about {
    height: 355px;
  }
  .hero__default {
    padding: 136px 0 29px;
  }
  .bread-nav ul li a, .bread-nav ul li span {
    font-size: 18px;
  }
  .hero.hero--about .hero-about-bg {
    mask-image: url("../img/about-mask-mob-2.png");
  }
  .hero.hero--about {
    height: 355px;
  }
  .question__container {
    height: 752px;
  }
  .our-clients {
    background: url("../img/clin-mask-2.png") no-repeat left top/cover;
  }
  .text-about .dots-title {
    margin-top: 0;
  }
  .hero-sub {
    padding-top: 0;
  }
  .text-side .right {
    width: 68.57%;
  }
  .hero__container {
    padding: 162px 0 254px;
    height: auto;
    min-height: 0;
    justify-content: flex-start;
  }

  .hero-title {
    margin-bottom: 19px;
  }
  .hero__text > p {
    margin-bottom: 24px;

  }
  .text-side .right {

  }
  .single-rule {
    width: 55%;
    &:nth-child(even) {
      width: 45%;
      padding-right: 0;
    }
  }
  .text-about {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 184px;
    .text {
      margin-left: 0;
      margin-top: 18px;
      p {
        margin-bottom: 26px;
        max-width: 221px;
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .footer-bottom__container p {
    letter-spacing: -0.014em;
    margin-left: 4px;
  }
  .footer-bottom__container {
    padding: 38px 0;
  }
  .footer-bottom__container a {
    margin-left: 16px;
  }
  .quest-content p {
    line-height: 120%;
    margin-bottom: 27px;
  }
  .text-about .text {
    margin-top: 18px;
  }
  .products__container {
    margin-top: 74px;
  }
  .products__link {
    min-height: 416px;
  }
  .products__link::after {
    bottom: 28px;
    left: 95px;
  }
  .hero.hero--home .hero-bg {
    mask-image: url("../img/mask-mob.png");
    mask-position: right top;
    mask-size: 100%;
  }
  .single-rule::before {
    top: 0;
    transform: none;
  }
  .single-rule {
    //width: 60%;
    padding-left: 38px;
    align-items: flex-start;
    p {
      font-size: 18px;
    }
    &:nth-child(even) {
      //width: 40%;
    }
  }
}
@media screen and (max-width: 374px) {
  .search-header__block {
    padding-right: 39px;
    input {
      font-size: 12px;
      line-height: 116%;
    }
    .btn {
      font-size: 15px;
    }
  }
}